@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~react-toastify/dist/ReactToastify.css";

html, body {
  height: 100%;
}

body {
  @apply bg-custom bg-cover bg-center;
}

.bg-custom {
  background-image: url('/path/to/your/background-image.jpg');
  background-size: cover;
  background-position: center;
}
